html, body {
    background-color: black;
    color: whitesmoke;
    margin: 0;
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
}

.gameStatus {
    display: flex;
    justify-content: center;
}

.gameBtns {
    display: flex;
    justify-content: center;
}    

.game-buttons, button {
    margin: 5px;
}

.scoreDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.playerDisplay, .p1Display, .computerDisplay, .p2Display {
    margin: 5px;
}

.resetContainer {
    display: flex;
    justify-content: center;
}



